# Ignore binary files (files without extensions)
*
!*.*
!*/

# Ignore some project files
.DS_Store
.idea
.vscode
.venv

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# large files
*range-output.csv
*range-input.csv

# python cache
__pycache__
